@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

body {
  background-color: #fefae01f !important;
}

.navbar {
  margin-bottom: 8%;
}

/* hero */
.hero {
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero > h1 {
  font-size: 60px;
}
.hero > p {
  font-size: 20px;
}
.hero > .hero-btn {
  width: 270px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background-color: #003049;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.hero-img-container {
  position: relative;
  top: -50px;
  padding: 0 5%;
  width: 100%;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* some texts */
.some-texts {
  width: 100%;
  margin-top: 5%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.some-texts > h1 {
  font-size: 35px;
}
.some-texts > p {
  font-size: 20px;
}

/* contents */
.first-content {
  margin-top: 4%;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.content-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.content-left > .content-secondary-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.795);
}
.content-left > .content-main-title {
  font-size: 30px;
  line-height: 1.5;
}
.content-left > .content-desc {
  font-size: 20px;
  line-height: 1.5;
}
.content-left > .content-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.content-left > .content-list > .content-items {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}
.content-left > .content-list > .content-items::after {
  content: "+";
  position: absolute;
  right: 0;
}
.content-right {
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.first-content > .content-right > .content-img-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(https://images.ctfassets.net/19dvw6heztyg/1sgbLTqGYYQ9tAlYoyCcOo/1847b95150d0d988f3b8f012ebce7862/home-website_builder-editor.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.second-content {
  margin-top: 4%;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.second-content > .content-right > .content-img-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(https://images.ctfassets.net/19dvw6heztyg/7HVrNm42HxsVC6VxbGiBl0/ae0a53a895b4b31aa252eb78e8a310b4/Podia_Email.png?w=1440&q=75);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.third-content {
  margin-top: 4%;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.third-content > .content-right > .content-img-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(https://images.ctfassets.net/19dvw6heztyg/56X4dM3ThW3tyj0I6kR99K/69756ba839b753f31b104977d45fbe97/home-digital_products-hero.png?w=1440&q=75);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fourth-content {
  margin-top: 4%;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.fourth-content > .content-right > .content-img-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(https://images.ctfassets.net/19dvw6heztyg/3LpPkD4UE4mJn5JJFQrURg/9eeb8db2ddf88362037ad665beff790c/Homepage_blogging_examples.jpg?w=1440&q=75);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Display section styles */
.display-section {
  padding: 0 5%;
  margin-top: 4%;
  overflow: hidden;
}
.display-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 3%;
  border-radius: 10px;
}
.display-img-container {
  width: 40%;
  height: 400px;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.display-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.display-desc-container {
  width: 50%;
}
.display-secondary-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(128, 128, 128, 0.795);
}
.display-main-title {
  font-size: 30px;
  line-height: 1.5;
}
.display-quote {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(128, 128, 128);
}
.display-author {
  position: relative;
  left: 5%;
  font-size: 20px;
}
.display-btn {
  width: 270px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #003049;
  color: white;
  font-weight: 700;
}

/* profile cards */
.profile-cards {
  width: 100%;
  margin-top: 4%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.profile-card {
  width: 30%;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile-card-img-container {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-card-img {
  width: 100%;
  height: 100%;
}

/* signin section */
.signin-section {
  margin: 4%;
  height: 300px;
  background-color: #003049;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin-btn {
  width: 270px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #8d99ae;
  color: white;
  font-weight: 700;
  position: relative;
  top: 10%;
}

/* media query */
@media (max-width: 1200px) {
  .hero > h1 {
    font-size: 50px;
  }
  .hero > p {
    font-size: 18px;
  }
  .some-texts > h1 {
    font-size: 30px;
  }
  .some-texts > p {
    font-size: 18px;
  }
  .content-left > .content-main-title {
    font-size: 25px;
  }
  .content-left > .content-desc {
    font-size: 18px;
  }
  .content-left > .content-list > .content-items {
    font-size: 18px;
  }
  .display-main-title {
    font-size: 25px;
  }
  .display-quote,
  .display-author {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .hero {
    padding: 0 3%;
  }
  .hero-img-container {
    padding: 0 3%;
  }
  .some-texts {
    padding: 0 8%;
  }
  .first-content,
  .second-content,
  .third-content,
  .fourth-content {
    flex-direction: column;
    padding: 0 3%;
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  .display-inner-container {
    flex-direction: column;
    gap: 30px;
  }
  .display-img-container,
  .display-desc-container {
    width: 100%;
  }
  .profile-cards {
    flex-direction: column;
    align-items: center;
  }
  .profile-card {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .hero > h1 {
    font-size: 40px;
  }
  .hero > p {
    font-size: 16px;
  }
  .hero > .hero-btn,
  .display-btn,
  .signin-btn {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
  .some-texts > h1 {
    font-size: 28px;
  }
  .some-texts > p {
    font-size: 16px;
  }
  .content-left > .content-main-title {
    font-size: 22px;
  }
  .content-left > .content-desc,
  .content-left > .content-list > .content-items {
    font-size: 16px;
  }
  .display-main-title {
    font-size: 22px;
  }
  .display-quote,
  .display-author {
    font-size: 16px;
  }
  .profile-card {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .navbar {
    margin-bottom: 10%;
  }
  .hero > h1 {
    font-size: 35px;
  }
  .hero > p {
    font-size: 14px;
  }
  .hero-img-container {
    top: -30px;
  }
  .some-texts {
    padding: 0 5%;
  }
  .some-texts > h1 {
    font-size: 25px;
  }
  .some-texts > p {
    font-size: 14px;
  }
  .first-content,
  .second-content,
  .third-content,
  .fourth-content {
    padding: 0 2%;
  }
  .content-left > .content-main-title {
    font-size: 20px;
  }
  .content-left > .content-desc,
  .content-left > .content-list > .content-items {
    font-size: 14px;
  }
  .content-right {
    height: 300px;
  }
  .display-inner-container {
    padding: 2%;
    gap: 20px;
  }
  .display-img-container{
    width: 300px;
    height: 300px;
    margin: 20px;
  }
  .display-main-title {
    font-size: 20px;
  }
  .display-quote,
  .display-author {
    font-size: 14px;
  }
  .display-btn,
  .signin-btn {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
  .profile-card {
    width: 100%;
  }
  .signin-section {
    margin: 5%;
  }
}